<!DOCTYPE html>
<html ng-app='movieFav' lang="en">
<head>
  <link rel="stylesheet" href="style.css" media="screen" title="no title">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body ng-controller='mainCtrl'>

<input type="text" placeholder="search" ng-model='movieName'>
<button type="button" ng-click=searchMovie(movieName)>submit</button>


<ul>
  <li ng-repeat='movie in movies'>
    <h3>{{movie.original_title}}</h3>
    <img ng-src="http://image.tmdb.org/t/p/w500{{movie.poster_path}}">
  </li>
</ul>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
<script src="app.js"></script>
<script src="js/mainCtrl.js"></script>
<script src="js/mainServ.js"></script>
</body>
</html>
