/*.
.col-md-3 {
  width: 23%;
  display: inline-block;
}*/


/*.sidevar {
  display: inline-block;
  height: 100vh;
  float: left;
}*/


/*img {
  width: 400px;
  height: 450px;
}*/


/*.col-sm-11 {
  margin left: 80px;
}*/


/*@import url(http://fonts.googleapis.com/css?family=Open+Sans);*/

@import url('https://fonts.googleapis.com/css?family=Eczar');
body {
    /*background-color: #663399;*/
    /*hsl(200,70,11)*/
    background: -moz-radial-gradient(center, ellipse cover, #800080 0%, #000000 100%);
    /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #800080), color-stop(100%, #000000));
    /* safari4+,chrome */
    background: -webkit-radial-gradient(center, ellipse cover, #800080 0%, #000000 100%);
    /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, #800080 0%, #000000 100%);
    /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, #800080 0%, #000000 100%);
    /* ie10+ */
    background: radial-gradient(ellipse at center, #800080 0%, #000000 100%);
    /* w3c */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#800080', endColorstr='#000000', GradientType=1);
    /* ie6-9 */
    font-family: "Open Sans", Impact;
}

header {
    font-family: fantasy;
    text-align: center;
    color: ffce38;
}

.area {
    text-align: center;
    font-size: 4.5em;
    color: #9DBE00;
    letter-spacing: -7px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Eczar', serif;
    /*animation:blur .75s ease-out infinite;*/
    /*text-shadow:0px 0px 5px #fff,
      0px 0px 7px #fff;*/
}

@keyframes blur {
    from {
        text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 50px #fff, 0px 0px 50px #fff, 0px 0px 50px #7B96B8, 0px 0px 150px #7B96B8, 0px 10px 100px #7B96B8, 0px 10px 100px #7B96B8, 0px 10px 100px #7B96B8, 0px 10px 100px #7B96B8, 0px -10px 100px #7B96B8, 0px -10px 100px #7B96B8;
    }
}

.point {
    cursor: pointer;
}

.cover {
    background-image: url(images/covertest.jpg);
    height: 300px;
    margin: 0 0 50px;
    padding: 7%;
}

.menu {
    margin-bottom: 40px;
}

h1 {
    font-size: 55px;
    font-weight: bold;
    color: #9DBE00;
}

.details {
    color: white;
}

.btn-warning {
    background-color: #9DBE00;
}

.border {
    border: 3px groove #9DBE00;
    box-shadow: 0 0 0 #fff, 0 0 0 3px #9DBE00;
    display: flex;
    justify-content: space-between;
}

.inputS {
    width: 50%;
    border-radius: 10px;
}

.tags {
    font-size: 28px;
    padding: 15px;
    color: #9DBE00;
    font-family: 'Eczar', serif;
}

.left {
    width: 45%
}

.right {
    width: 45%;
}

.boxin {
    /*color: white;*/
    width: 40%;
    position: relative;
}


/*input animation*/


/*@import url(http://fonts.googleapis.com/css?family=Roboto:300);

.inputbox {
	height: 10px;
	width: 70%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.inputbox input {
	width: 80%;
	min-width: 0;
	box-sizing: border-box;
	font-size: 16px;
	padding: 16.5px 0;
	border: 0;
	background: none;
	width: 50px;
	position: absolute;
	top: 0;
	left: 20%;
	transform: translateX(-50%);
	border-radius: 100%;
	transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
	transition-delay: 0s, 0.4s, 0s;
	box-shadow: 0 0 0 1px currentColor;
	color: inherit;
	cursor: pointer;
	padding: 16.5px 0;
	padding-right: 50px;
	font-weight: lighter;
	font-family: 'Roboto';
}

.inputbox input:focus, .inputbox input:valid {
	width: 75%;
	transition-delay: 0.4s, 0s, 0.4s;
	outline: 0;
	border-radius: 0;
	cursor: text;
	padding-left: 16.5px;
}

.inputbox input:focus + .del, .inputbox input:valid + .del {
	pointer-events: all;
	left: calc(100% - 25px);
	transition-delay: 0.4s;
}

.inputbox input:focus + .del:focus, .inputbox input:valid + .del:focus {
	box-shadow: 0 0 0 1px currentColor;
	height: 37.5px;
	width: 37.5px;
}

.inputbox input:focus + .del:before, .inputbox input:valid + .del:before {
	transform: translate(-50%, -50%) rotate(-45deg) scaleY(0.7);
	transition-delay: 0s;
}

.inputbox input:focus + .del:after, .inputbox input:valid + .del:after {
	transform: translate(-50%, -50%) rotate(45deg) scaleY(0.7);
	transition-delay: 0.2s;
}

.inputbox .del {
	position: absolute;
	top: 50%;
	left: 20%;
	transform: translate(-50%, -20%);
	height: 40px;
	width: 50px;
	padding: 0;
	background: none;
	border-radius: 100%;
	border: 0;
	pointer-events: none;
	transition: left 0.4s ease-in-out;
	transition-delay: 0s;
	color: inherit;
	cursor: pointer;
}

.inputbox .del:focus {
	outline: none;
}

.inputbox .del:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	background: currentColor;
	width: 1px;
	height: 37.5px;
	transform: translate(32.25px, 32.25px) translate(-50%, -50%) rotate(-45deg) scaleY(1);
	transition: transform 0.2s ease-in-out;
	transition-delay: 0.6s;
}

.inputbox .del:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	background: currentColor;
	width: 1px;
	height: 37.5px;
	transform: translate(-50%, -50%) rotate(45deg) scaleY(0);
	transition: transform 0.2s ease-in-out;
	transition-delay: 0.4s;
}*/


/*---------------------*/


/*#search {
    float: right;
    margin-top: 9px;
    width: 250px;
}

.search {
    padding: 5px 0;
    width: 230px;
    height: 30px;
    position: relative;
    left: 10px;
    float: left;
    line-height: 22px;
}

    .search input {
        position: absolute;
        width: 0px;
        float: Left;
        margin-left: 210px;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
        height: 30px;
        line-height: 18px;
        padding: 0 2px 0 2px;
        border-radius:1px;
    }

        .search:hover input, .search input:focus {
            width: 200px;
            margin-left: 0px;
        }

.btn {
    height: 30px;
    position: absolute;
    right: 0;
    top: 5px;
    border-radius:1px;
}*/

.row {
    overflow: hidden;
}


/*.row.match-my-cols [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}*/

.movie-wrapper {
    min-height: 535px;
}

.movie-wrapper img {
    width: 100%;
}

.popup img {
    width: 100%;
}

.title {
    width: 100%;
    height: 65px;
}

.title h3 {
    color: white;
    text-align: center;
    font-size: 21px;
}
