/*.
.col-md-3 {
  width: 23%;
  display: inline-block;
}*/

/*.sidevar {
  display: inline-block;
  height: 100vh;
  float: left;
}*/

/*img {
  width: 400px;
  height: 450px;
}*/
/*.col-sm-11 {
  margin left: 80px;
}*/
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans);*/


@import url('https://fonts.googleapis.com/css?family=Eczar');


body {
  /*background-color: #663399;*/
  /*hsl(200,70,11)*/


    background: -moz-radial-gradient(center, ellipse cover, #800080 0%, #000000 100%); /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #800080), color-stop(100%, #000000)); /* safari4+,chrome */
    background: -webkit-radial-gradient(center, ellipse cover, #800080 0%, #000000 100%); /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, #800080 0%, #000000 100%); /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, #800080 0%, #000000 100%); /* ie10+ */
    background: radial-gradient(ellipse at center, #800080 0%, #000000 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#800080', endColorstr='#000000',GradientType=1 ); /* ie6-9 */

    font-family: "Open Sans",  Impact;
}

header {
  font-family: fantasy;
  text-align: center;
  color: ffce38;
}

.area {
  text-align:center;
  font-size:4.5em;
  color:#9DBE00;
  letter-spacing: -7px;
  font-weight:700;
  text-transform:uppercase;
  font-family: 'Eczar', serif;
  /*animation:blur .75s ease-out infinite;*/
  /*text-shadow:0px 0px 5px #fff,
      0px 0px 7px #fff;*/
}

@keyframes blur{
  from{
      text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;}
}


.cover {
  background-image: url(images/covertest.jpg);
  height: 300px;
  margin: 0 0 50px;
  padding: 7%;
}

.menu {
  margin-bottom: 40px;
}

h1 {
  font-size: 55px;
  font-weight: bold;
  color: #9DBE00;
}

.details {
  color: white;
}

.btn-warning {
  background-color: #9DBE00;
}

.border {
  border: 3px groove #9DBE00;
	box-shadow: 0 0 0  #fff, 0 0 0 3px #9DBE00;
  display: flex;
  justify-content: space-around;
}

.tags {
  font-size: 20px;
  color: #9DBE00
}

.left {
  margin-right: 90px;
}

/*---------------------*/
/*#search {
    float: right;
    margin-top: 9px;
    width: 250px;
}

.search {
    padding: 5px 0;
    width: 230px;
    height: 30px;
    position: relative;
    left: 10px;
    float: left;
    line-height: 22px;
}

    .search input {
        position: absolute;
        width: 0px;
        float: Left;
        margin-left: 210px;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
        height: 30px;
        line-height: 18px;
        padding: 0 2px 0 2px;
        border-radius:1px;
    }

        .search:hover input, .search input:focus {
            width: 200px;
            margin-left: 0px;
        }

.btn {
    height: 30px;
    position: absolute;
    right: 0;
    top: 5px;
    border-radius:1px;
}*/


.row {
    overflow: hidden;
}

/*.row.match-my-cols [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}*/

.movie-wrapper {
min-height: 535px;

}

.movie-wrapper img {
  width: 100%;
}

.popup img {
  width: 100%;
}

.title {
  width: 100%;
  height: 65px;

}

.title h3 {
  color: white;
  text-align: center;
  font-size: 21px;
}
